@page "/informaticsClub/stopwatch"
@inject IStringLocalizer<Resources.InformaticsClub.Lang> localizer

<div class="container p-3">
    <HxCard CssClass="shadow mt-5">
        <HeaderTemplate>
            <h2 class="card-title">@localizer["project4.title"]</h2>
        </HeaderTemplate>
        <BodyTemplate>
            <p class="my-5 text-center" style="font-size: 3em;font-weight:bold;direction:ltr !important;">@TimerDisplay</p>
            <div class="text-center my-2">
                <HxButton Color="ThemeColor.Dark" OnClick="StartTimer">@localizer["project4.button.start"]</HxButton>
                <HxButton Color="ThemeColor.Dark" OnClick="StopTimer">@localizer["project4.button.stop"]</HxButton>
                <HxButton Color="ThemeColor.Dark" OnClick="ResetTimer">@localizer["project4.button.reset"]</HxButton>
            </div>
        </BodyTemplate>
    </HxCard>
</div>


@code {
    int ms = 0;
    Timer? WatchTimer = null;
    string TimerDisplay = "00 : 00 : 00";

    void StartTimer()
    {
        if (WatchTimer == null)
        {
            WatchTimer = new Timer(
                (Object stateInfo) =>
                {
                    ms++;
                    TimerDisplay = GetDisplayTimer(ms);
                    StateHasChanged();
                },
            null, 0, 10);
        }


    }

    void StopTimer()
    {
        if (WatchTimer != null)
        {
            WatchTimer.Dispose();
            WatchTimer = null;
        }

    }

    void ResetTimer()
    {
        StopTimer();
        ms = 0;
        TimerDisplay = GetDisplayTimer(ms);
        StateHasChanged();
    }

    string GetDisplayTimer(int ms)
    {
        int fracts = ms % 100;
        int seconds = (ms / 100) % 60;
        int minuts = (ms / (100 * 60)) % 60;
        int hours = ms / (100 * 60 * 60);

        var disp =
            "" +
            (hours > 0 ? hours + " : " : "") +
            (minuts < 10 ? "0" + minuts : minuts) +
            " : " +
            (seconds < 10 ? "0" + seconds : seconds) +
            " : " +
            (fracts < 10 ? "0" + fracts : fracts);

        return disp;
    }
}
