@using System.Globalization
@using Microsoft.AspNetCore.Components.Routing
@inject IStringLocalizer<SharedProject.Resources.Navbar.Lang> localizer
@inject NavigationManager NavManager
@inject IJSRuntime JSRuntime


<nav class="navbar navbar-dark bg-dark px-2">
    <a class="navbar-brand text-warning" href="/">
        <h3 class="text-warning">@localizer["brand.heading"]</h3>
        <small>@localizer["brand.small"]</small>
    </a>
    <div></div>
    <button class="btn btn-warning text-black">@localizer["button.identification"]</button>
</nav>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div @ref=navbar class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                @foreach (var link in links)
                {
                    <li class="nav-item">
                        <a class="nav-link @ActiveLink(link)" href="@link" @onclick="CollapseNavbar">@linkTitle(link)</a>
                    </li>
                }
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active text-warning" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        &nbsp;@localizer["button.language"]&nbsp;
                    </a>
                    <ul class="dropdown-menu bg-warning" aria-labelledby="navbarDropdown">
                        <li><button class="dropdown-item" @onclick="@(() => SetCulture("ar-AR"))">العربية</button></li>
                        <li><button class="dropdown-item" @onclick="@(() => SetCulture("fr-FR"))">Français</button></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

@code
{
    string location = "home";
    public ElementReference navbar;
    public string[] links = new string[] { "home", "reglement", "historic", "events", "informaticsClub", "forum" };
    protected override void OnInitialized()
    {
        NavManager.LocationChanged += LocationChanged;
        if (NavManager.BaseUri.Length < NavManager.Uri.Length)
        {
            location = NavManager.Uri;
        }
    }
    void LocationChanged(object sender, LocationChangedEventArgs e)
    {
        location = e.Location;
        StateHasChanged();
    }
    public void SetCulture(string culture)
    {
        if (culture != CultureInfo.CurrentCulture.Name)
        {
            CultureInfo.CurrentCulture = new CultureInfo(culture);
            //var js = (IJSInProcessRuntime)JSRuntime;
            JSRuntime.InvokeVoidAsync("blazorCulture.set", culture);
            NavManager.NavigateTo(NavManager.Uri, forceLoad: true);
        }
    }
    public string ActiveLink(string link)
    {
        return location.Contains(link) ? "active" : "";
    }
    public void CollapseNavbar()
    {
        JSRuntime.InvokeVoidAsync("collapseNavbar", navbar);
    }
    public string linkTitle(string link)
    {
        return localizer["list." + link];
    }

}