@page "/informaticsClub"
@inject IStringLocalizer<Resources.InformaticsClub.Lang> localizer
@inject NavigationManager NavManager
@inject ILogger<string> logger


<div class="container">
    <HxCard CssClass="shadow border-0 mb-3">
        <BodyTemplate>
            <HxCardTitle><h3>@localizer["firstCard.title"]</h3></HxCardTitle>
            <HxCardText>@localizer["firstCard.text"]</HxCardText>
        </BodyTemplate>
    </HxCard>
    <div class="row mb-3">
        @for (var i = 1; i < 3; i++)
        {
            var cardTitle = @localizer["card" + i + ".title"];
            var cardText = @localizer["card" + i + ".text"];
            <div class="col-sm-6">
                <HxCard CssClass="shadow border-0">
                    <BodyTemplate>
                        <HxCardTitle><h3>@cardTitle</h3></HxCardTitle>
                        <HxCardText>@cardText</HxCardText>
                    </BodyTemplate>
                </HxCard>
            </div>
        }
    </div>
    <HxCard CssClass="shadow border-0">
        <BodyTemplate>
            <HxCardTitle><h3>@localizer["projectsTitle"]</h3></HxCardTitle>
            <div class="row mb-3">
                @for (var i = 1; i <= NumberOfProjects; i++)
                {
                    var projectTitle = @localizer["project" + i + ".title"];
                    var projectPath = @localizer["project" + i + ".path"];
                    <div class="col-sm-6">
                        <HxCard CssClass="shadow border-0 my-3">
                            <BodyTemplate>
                                <HxCardTitle><h3>@projectTitle</h3></HxCardTitle>
                                <HxCardText>@projectTitle</HxCardText>
                                <div class="d-flex justify-content-end">
                                    <HxButton Text="@localizer["projects.button.show"]" Color="ThemeColor.Dark"
                                          OnClick="@(() => GoToProject(projectPath))" />
                                </div>
                            </BodyTemplate>
                        </HxCard>
                    </div>
                }

            </div>
        </BodyTemplate>
    </HxCard>
</div>


@code {
    int NumberOfProjects = 4;
    public void GoToProject(string path)
    {
        NavManager.NavigateTo("/informaticsClub" + path);
    }
}