@inject IStringLocalizer<Resources.Navbar.Lang> localizer

<HxNavbar Color="ThemeColor.Dark" ColorScheme="NavbarColorScheme.Dark">
    <HxNavbarBrand CssClass="text-success">
        <h3>@localizer["brand.heading"]</h3>
        <small>@localizer["brand.small"]</small>
    </HxNavbarBrand>
    <div class="d-flex">
        <HxButton Text="@localizer["button.identification"]" Color="ThemeColor.Success" />

    </div>
</HxNavbar>
<HxNavbar CssClass="sticky-top" Color="ThemeColor.Dark" ColorScheme="NavbarColorScheme.Dark" Expand="NavbarExpand.SmallUp">
    <div class="container">
        <HxNavbarToggler />
        <HxNavbarCollapse>
            <HxNav CssClass="me-auto mb-2 mb-lg-0">
                <HxNavLink Href="/SchoolWebsiteBlazor/home">@localizer["list.home"]</HxNavLink>
                <HxNavLink Href="/reglement">@localizer["list.reglement"]</HxNavLink>
                <HxNavLink Href="/historic">@localizer["list.historic"]</HxNavLink>
                <HxNavLink Href="/events">@localizer["list.events"]</HxNavLink>
                <HxNavLink Href="/informaticsClub">@localizer["list.informaticsClub"]</HxNavLink>
            </HxNav>
            <HxDropdown>
                <HxDropdownToggleButton Color="ThemeColor.Light">&nbsp;@localizer["button.language"]&nbsp;</HxDropdownToggleButton>
                <HxDropdownMenu>
                    <HxDropdownItemNavLink OnClick="@(() => SetCulture("ar-AR"))">العربية</HxDropdownItemNavLink>
                    <HxDropdownItemNavLink OnClick="@(() => SetCulture("fr-FR"))">Français</HxDropdownItemNavLink>
                </HxDropdownMenu>
            </HxDropdown>
        </HxNavbarCollapse>

    </div>
</HxNavbar>

